# Dependencies
/node_modules
/.pnp
.pnp.js

# Build
.next/
# optional: NEXT_DIST_DIR=.next-cache o. Ä.
.next-cache/
out/
build
dist

# Lighthouse
lighthouse-report.html
lighthouse-report.report.json
lighthouse-report.report.html
lighthouse-report-bericht.html
lighthouse-report-bericht.pdf

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.vercel
